<li><%= link_to fa_icon( "folder-open", text: folder.title), folder %></li>
<ul>
    <% folder.subfolders.each do |subfolder| %>
      <% if @folder and !@folder.new_record? and (@folder == subfolder or @folder.ancestors.include?(subfolder)) %>
        <%= render "folders/folder_tree", folder: subfolder %>
      <% else %>
        <%= render subfolder %>
      <% end %>
    <% end %>
    <%= render folder.docs.all %>
</ul>