<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active"><%= @folder.title %></li>
</ol>

<h1>Editing Folder</h1>

<%= render 'form' %>

<ul>
    
<% @folder.docs.each do |doc| %>
    <li><%= link_to doc.title, [@folder, doc] %></li>
<% end %>

</ul>
