<%= render "breadcrumbs" %>

<ul class="nav nav-stacked">
  <%= render @folder.subfolders %>
  <%= render @folder.docs %>
</ul>



<hr />
<div>
  <h3>Rename or move this folder</h3>
  <%= render 'form' %>
</div>

