<%= render "folders/breadcrumbs" %>
<h3>Editing Document</h3>

<%= render 'form' %>
<br />
<%= link_to 'Destroy', [@folder, @doc], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
