<h3>File list</h3>

<style>
  .file-navigation-tree li {
    list-style-type: none;
  }
  
  ul.file-navigation-tree {
    padding-left: 0px;
  }
  
  .file-navigation-tree ul {
    padding-left: 12px;
  }
</style>

<ul class="file-navigation-tree">
  <% Folder.top_level.each do |subfolder| %>
      <% if @folder and !@folder.new_record? and (@folder == subfolder or @folder.ancestors.include?(subfolder)) %>
        <%= render "folders/folder_tree", folder: subfolder %>
      <% else %>
        <%= render subfolder %>
      <% end %>
  <% end %>
</ul>
          